In [33]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [34]:
names = locals()
http=[]
for i in range (3,8):
    http.append('E:/library/Github/Innovative-practice/library/csv/pm/beijing/Beijing_201'+str(i)+'_HourlyPM2.5.csv')

    names['df_bj201'+str(i)] = pd.read_csv(http[i-3])#从csv读取数据

In [35]:
df = pd.DataFrame()

df=pd.concat([df_bj2013,df_bj2014,df_bj2015,df_bj2016,df_bj2017],ignore_index=True)#合并数据集
df

,Site,Parameter,Date (LST),Year,Month,Day,Hour,Value,QC
0,Beijing,PM2.5,2013/1/1 0:00,2013,1,1,0,31,Valid
1,Beijing,PM2.5,2013/1/1 1:00,2013,1,1,1,32,Valid
2,Beijing,PM2.5,2013/1/1 2:00,2013,1,1,2,21,Valid
3,Beijing,PM2.5,2013/1/1 3:00,2013,1,1,3,16,Valid
4,Beijing,PM2.5,2013/1/1 4:00,2013,1,1,4,15,Valid
...,...,...,...,...,...,...,...,...,...
39403,Beijing,PM2.5,6/30/2017 19:00,2017,6,30,19,51,Valid
39404,Beijing,PM2.5,6/30/2017 20:00,2017,6,30,20,68,Valid
39405,Beijing,PM2.5,6/30/2017 21:00,2017,6,30,21,61,Valid
39406,Beijing,PM2.5,6/30/2017 22:00,2017,6,30,22,49,Valid
39407,Beijing,PM2.5,6/30/2017 23:00,2017,6,30,23,55,Valid

In [36]:
df = df.iloc[:,[7,8]] #取[7,8]行（value,QC）
df

       Value     QC
0         31  Valid
1         32  Valid
2         21  Valid
3         16  Valid
4         15  Valid
...      ...    ...
39403     51  Valid
39404     68  Valid
39405     61  Valid
39406     49  Valid
39407     55  Valid

[39408 rows x 2 columns]

In [37]:
a=0
for i in range(len(df)):      #统计数据缺失项
    if (df['QC'][i] == "Missing"):
        a+=1
a

327

In [38]:
for i in range(len(df)):
    if (df['QC'][i] == "Missing"):
        df = df.drop(i)                 #删除缺失项

In [39]:
df = df.iloc[:,[0]]
df.index = range(len(df) )#重制index
df
df.to_csv("library/csv/pm/beijing.csv", encoding="utf_8_sig") #导出csv

In [43]:
df.plot(x=0,y='Value')
plt.show()

KeyError: 'Value'