In [9]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
names = locals()
http=[]
for i in range (3,8):
    http.append('library/csv/pm/beijing/Beijing_201'+str(i)+'_HourlyPM2.5.csv')

    names['df_bj201'+str(i)] = pd.read_csv(http[i-3])#从csv读取数据

In [11]:
df = pd.DataFrame()

df=pd.concat([df_bj2013,df_bj2014,df_bj2015,df_bj2016,df_bj2017],ignore_index=True)#合并数据集
df

,Site,Parameter,Date (LST),Year,Month,Day,Hour,Value,QC
0,Beijing,PM2.5,2013/1/1 0:00,2013,1,1,0,31,Valid
1,Beijing,PM2.5,2013/1/1 1:00,2013,1,1,1,32,Valid
2,Beijing,PM2.5,2013/1/1 2:00,2013,1,1,2,21,Valid
3,Beijing,PM2.5,2013/1/1 3:00,2013,1,1,3,16,Valid
4,Beijing,PM2.5,2013/1/1 4:00,2013,1,1,4,15,Valid
...,...,...,...,...,...,...,...,...,...
39403,Beijing,PM2.5,6/30/2017 19:00,2017,6,30,19,51,Valid
39404,Beijing,PM2.5,6/30/2017 20:00,2017,6,30,20,68,Valid
39405,Beijing,PM2.5,6/30/2017 21:00,2017,6,30,21,61,Valid
39406,Beijing,PM2.5,6/30/2017 22:00,2017,6,30,22,49,Valid
39407,Beijing,PM2.5,6/30/2017 23:00,2017,6,30,23,55,Valid

In [12]:
df = df.iloc[:,[2,7,8]] #取[2，7,8]行（value,QC）
df

            Date (LST)  Value     QC
0        2013/1/1 0:00     31  Valid
1        2013/1/1 1:00     32  Valid
2        2013/1/1 2:00     21  Valid
3        2013/1/1 3:00     16  Valid
4        2013/1/1 4:00     15  Valid
...                ...    ...    ...
39403  6/30/2017 19:00     51  Valid
39404  6/30/2017 20:00     68  Valid
39405  6/30/2017 21:00     61  Valid
39406  6/30/2017 22:00     49  Valid
39407  6/30/2017 23:00     55  Valid

[39408 rows x 3 columns]

In [13]:
a=0
for i in range(len(df)):      #统计数据缺失项和错误项
    if (df['QC'][i] == "Missing" and df['Value'][i]<=0 ):
        a+=1
a

327

In [14]:
df1= df.copy()
for i in range(len(df1)):
    if (df1['QC'][i] == "Missing" or df1['Value'][i]<=0):
        df1['Value'][i] = "NaN"    
                                    #取数据框中缺失值上下的数字平均值来填写数字的缺失值
df2=df1.copy()
df2['Value']=df2['Value'].fillna(df2['Value'].interpolate(method='linear', limit_direction='forward', axis=0))

ipykernel_launcher:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/root/.local/share/virtualenvs/Innovative-practice-zjFOS_of/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [15]:
df2 = df2.iloc[:,[0,1]]
df2.index = range(len(df2) )#重制index
df2
df2.to_csv("library/csv/pm/beijing.csv", encoding="utf_8_sig") #导出csv

In [16]:
df2.plot()
plt.show()

TypeError: no numeric data to plot