In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
names = locals()
http=[]
for i in range (2,7):
    http.append('library/csv/pm/shanghai/Shanghai_201'+str(i)+'_HourlyPM2.5.csv')

    names['df_bj201'+str(i)] = pd.read_csv(http[i-2])#从csv读取数据

In [3]:
df = pd.DataFrame()

df=pd.concat([df_bj2012,df_bj2013,df_bj2014,df_bj2015,df_bj2016],ignore_index=True)#合并数据集
df

,Site,Parameter,Date (LST),Year,Month,Day,Hour,Value,QC
0,Shanghai,PM2.5,2012/1/1 0:00,2012,1,1,0,112,Valid
1,Shanghai,PM2.5,2012/1/1 1:00,2012,1,1,1,113,Valid
2,Shanghai,PM2.5,2012/1/1 2:00,2012,1,1,2,115,Valid
3,Shanghai,PM2.5,2012/1/1 3:00,2012,1,1,3,144,Valid
4,Shanghai,PM2.5,2012/1/1 4:00,2012,1,1,4,152,Valid
...,...,...,...,...,...,...,...,...,...
43843,Shanghai,PM2.5,12/31/2016 19:00,2016,12,31,19,43,Valid
43844,Shanghai,PM2.5,12/31/2016 20:00,2016,12,31,20,40,Valid
43845,Shanghai,PM2.5,12/31/2016 21:00,2016,12,31,21,35,Valid
43846,Shanghai,PM2.5,12/31/2016 22:00,2016,12,31,22,39,Valid
43847,Shanghai,PM2.5,12/31/2016 23:00,2016,12,31,23,44,Valid

In [33]:
df = df.iloc[:,[2,7,8]] #取[2，7,8]行（value,QC）
df

             Date (LST)  Value     QC
0         2012/1/1 0:00    112  Valid
1         2012/1/1 1:00    113  Valid
2         2012/1/1 2:00    115  Valid
3         2012/1/1 3:00    144  Valid
4         2012/1/1 4:00    152  Valid
...                 ...    ...    ...
43843  12/31/2016 19:00     43  Valid
43844  12/31/2016 20:00     40  Valid
43845  12/31/2016 21:00     35  Valid
43846  12/31/2016 22:00     39  Valid
43847  12/31/2016 23:00     44  Valid

[43848 rows x 3 columns]

In [34]:
a=0
for i in range(len(df)):      #统计数据缺失项和错误项
    if (df['QC'][i] == "Missing" and df['Value'][i]<=0 ):
        a+=1
a

873

In [35]:
df1= df.copy()
for i in range(len(df1)):
    if (df1['QC'][i] == "Missing" or df1['Value'][i]<=0):
        df1['Value'][i] = "NaN"    
                                    #取数据框中缺失值上下的数字平均值来填写数字的缺失值
df2=df1.copy()
df2['Value']=df2['Value'].fillna(df2['Value'].interpolate(method='linear', limit_direction='forward', axis=0))

ipykernel_launcher:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\weixi\.virtualenvs\Innovative-practice-Om2RB-sU\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [36]:
df2 = df2.iloc[:,[0,1]]
df2.index = range(len(df2) )#重制index
df2
df2.to_csv("library/csv/pm/shanghai.csv", encoding="utf_8_sig") #导出csv

In [37]:
df2.plot()
plt.show()

TypeError: no numeric data to plot