In [41]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
df_bj2015 = pd.read_csv('https://cdn.jsdelivr.net/gh/weixiabing/Innovative-practice/library/csv/pm/beijing/Beijing_2013_HourlyPM2.5_created20140325.csv')#从csv读取数据
df_bj2015

,Site,Parameter,Date (LST),Year,Month,Day,Hour,Value,QC
0,Beijing,PM2.5,2013/1/1 0:00,2013,1,1,0,31,Valid
1,Beijing,PM2.5,2013/1/1 1:00,2013,1,1,1,32,Valid
2,Beijing,PM2.5,2013/1/1 2:00,2013,1,1,2,21,Valid
3,Beijing,PM2.5,2013/1/1 3:00,2013,1,1,3,16,Valid
4,Beijing,PM2.5,2013/1/1 4:00,2013,1,1,4,15,Valid
...,...,...,...,...,...,...,...,...,...
8755,Beijing,PM2.5,2013/12/31 19:00,2013,12,31,19,18,Valid
8756,Beijing,PM2.5,2013/12/31 20:00,2013,12,31,20,23,Valid
8757,Beijing,PM2.5,2013/12/31 21:00,2013,12,31,21,20,Valid
8758,Beijing,PM2.5,2013/12/31 22:00,2013,12,31,22,23,Valid
8759,Beijing,PM2.5,2013/12/31 23:00,2013,12,31,23,24,Valid

In [43]:
df_bj2015_subset = df_bj2015.iloc[:,[7,8]] #取[7,8]行
df_bj2015_subset

      Value     QC
0        31  Valid
1        32  Valid
2        21  Valid
3        16  Valid
4        15  Valid
...     ...    ...
8755     18  Valid
8756     23  Valid
8757     20  Valid
8758     23  Valid
8759     24  Valid

[8760 rows x 2 columns]