In [7]:
#导入../data/testPredict.npy
#导入../data/testY.npy
import numpy as np
import matplotlib.pyplot as plt
testPredict = np.load('./data/testPredict.npy')
testY = np.load('./data/testY.npy')
print(testPredict.shape)
print(testY.shape)

(444, 100, 100, 1)
(444, 100, 100, 1)

In [8]:
data_min = 0.0
data_max = 4435
testPredict = testPredict * (data_max - data_min) + data_min
testY= testY * (data_max - data_min) + data_min

In [9]:
import pandas as pd
data=abs(testPredict-testY)
print(data.shape)
#data降成二维数组
data = pd.DataFrame(data[:,40:60,40:60,:].reshape(-1,1))
#打印形状
print(data.shape)

(444, 100, 100, 1)
(177600, 1)

In [10]:
#data增加3列
data['lat'] = 0
data['long'] = 0
data['time'] = 0
print(data.shape)

(177600, 4)

In [12]:
#第一列名改为value
data.rename(columns={0:'value'},inplace=True)
for i in range(444):
    #从2013.12.14 12:00:00开始，每隔1小时
    for j in range(400):
        data.iloc[(i-1)*400+j,3] = 1386993600+i*3600
data.head()

       value  lat  long        time
0  30.138402    0     0  1386997200
1  13.579959    0     0  1386997200
2  10.221628    0     0  1386997200
3   8.669166    0     0  1386997200
4  14.216250    0     0  1386997200

In [13]:
#将第三列转换为时间格式
data['time'] = pd.to_datetime(data['time'],unit='s')
data.head()

       value  lat  long                time
0  30.138402    0     0 2013-12-14 05:00:00
1  13.579959    0     0 2013-12-14 05:00:00
2  10.221628    0     0 2013-12-14 05:00:00
3   8.669166    0     0 2013-12-14 05:00:00
4  14.216250    0     0 2013-12-14 05:00:00

In [15]:
data.rename(columns={0:'value'},inplace=True)
for i in range(444):
    for j in range(20):
        for k in range(20):
            data.iloc[i*400+j*20+k,2] = 0.002106*k+45.45
            data.iloc[i*400+k*20+j,1] = 0.002832*k+9.16
data.head()

       value   lat       long                time
0  30.138402  9.16  45.450000 2013-12-14 05:00:00
1  13.579959  9.16  45.452106 2013-12-14 05:00:00
2  10.221628  9.16  45.454212 2013-12-14 05:00:00
3   8.669166  9.16  45.456318 2013-12-14 05:00:00
4  14.216250  9.16  45.458424 2013-12-14 05:00:00

In [11]:
#保存data为pd格式
data.to_csv('./data/data.csv',index=False)

In [1]:
from keplergl import KeplerGl

#创建一个KeplerGl对象
map_1 = KeplerGl(height=500)

#激活KeplerGl对象到jupyter的窗口中
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=500)

In [2]:
import pandas as pd


df = pd.read_csv('./data/data.csv')
df.head()

      value      lat       long                 time
0  6.025671  9.02407  45.360213  2013-12-14 05:00:00
1  0.912601  9.02407  45.362319  2013-12-14 05:00:00
2  2.178531  9.02407  45.364425  2013-12-14 05:00:00
3  2.193963  9.02407  45.366531  2013-12-14 05:00:00
4  2.524400  9.02407  45.368637  2013-12-14 05:00:00

In [3]:
#创建一个KeplerGl对象
map_2 = KeplerGl(height=600)

#激活KeplerGl对象到jupyter的窗口中
map_2

# 添加数据
map_2.add_data(name='rocket', data=df)

map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'rocket': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, …